/* -Formulario- */
form{
    margin: 10px;
    .nform, .eform, .tform, .mform{
        display: flex;
        flex-direction: column;
    }
}
/* -Redes- */
div ul li {
    list-style-type: none;
    a {
        text-decoration: none;
    }
}
main div ul li a{
    color: #1d1e1d;
}
.dejatumensaje{
    padding: 30px;
}
.nuestrasredes{
    padding: 30px;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 8px;
}
.enviar{
    display: flex;
    flex-direction: column;
    width: 130px;
    margin-top: 8px;
}
.redes{
    padding: 10px;
}
.icono{
    width: 2%;
    height: 2%;
}