.titulo, .centrado{
    text-align: center;
}
.datos{
text-align: justify;
}
h1{
    text-decoration: underline;
    padding: 2%;
}
h2{
    padding: 1px;
    margin-top: 25px;
}
h3{
    margin-left: 20px;
}
p{
    margin: 20px;
}
